.milist .container {
  padding: 0;
}
.milist .title {
  padding: 10px;
  font-size: 18px;
}
.milist .content {
  min-height: 600px;
  border-top: solid 2px #aaa;
  border-bottom: solid 3px #aaa;
  padding: 10px;
}
.milist .breadcrumbs {
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  background: #f5f5f5;
  color: #616161;
}
.milist .breadcrumbs a {
  color: #757575;
}
.milist .pro_li a > p {
  text-align: center;
}
.milist .category-list .title {
  font-size: 18px;
  color: #f10000;
  font-weight: 400;
  cursor: pointer;
}
.milist .category-list ul,
.milist .category-list li,
.milist .category-list p {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.milist .category-list .box-bd ul li {
  float: left;
  width: 245px;
  height: 161px;
  padding-top: 24px;
  border: 1px solid #e0e0e0;
  text-align: center;
}
.milist .category-list .category-list-img {
  display: block;
  width: 180px;
  height: 70px;
  margin: 0 auto 24px;
}
.milist .category-list a {
  text-decoration: none;
  color: #757575;
}
