.site-topbar {
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  background: #333;
}
.site-topbar .container {
  width: 1226px;
  margin-right: auto;
  margin-left: auto;
}
.site-topbar .clear {
  clear: both;
}
.site-topbar a {
  color: #b0b0b0;
}
.site-topbar a:hover {
  color: #fff;
}
.site-topbar .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  zoom: 1;
}
.site-topbar .topbar-cart {
  width: 120px;
}
.site-topbar .topbar-cart .cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
.site-topbar .topbar-cart,
.site-topbar .topbar-info,
.site-topbar .topbar-exit,
.site-topbar .login-sign {
  position: relative;
  float: right;
  display: inline;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0;
}
.site-topbar .topbar-info a,
.site-topbar .login-sign a {
  padding: 0 10px 0 0;
}
