.main2 .pro-nav-bar {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #dfdfdf;
}
.main2 .pro-nav-bar .current {
  border-bottom-color: #333;
}
.main2 .pro-nav-9 li {
  width: 11.11111%;
}
.main2 .pro-nav-bar li {
  float: left;
  _display: inline;
  height: 76px;
  line-height: 76px;
  margin: 0 0 -1px;
  list-style: none;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
}
.main2 .pro-nav-bar li a {
  display: block;
  color: #333;
  outline: none;
  line-height: 75px;
  padding: 0;
  border: 0;
}
.main2 .nav-tabs > li.active {
  border-bottom: 1px solid #000!important;
}
.main2 .nav-tabs > li.active > a:hover {
  background-color: #fff;
}
.main2 .nav-tabs > li.active > a {
  border: 0;
}
.main3 {
  width: 1226px;
  margin: 0 auto;
}
.main3 nav {
  background-color: #f0f0f0;
  font-size: 14px;
}
.main3 nav .nav_li {
  color: #222;
}
.main3 nav .nav_li:hover {
  color: #F10000;
  text-decoration: underline;
}
.main3 .clear {
  clear: both;
}
